

@large-desktop: ~"only screen and (min-width: 1800px)";
@desktop: ~"only screen and (min-width : 1111px) and (max-width: 1799px)";
@tablet: ~"only screen and (min-width : 660px) and (max-width : 1100px)";
@large-mobile: ~"only screen and (min-width : 393px) and (max-width : 659px)";
@mobile: ~"only screen and (max-width : 392px)";

@navy: #1D2230;
@bg-dark :#252934; //#252934 #1A1C33
@bg-dark-2: #252934;
@text-grey: #CFCFCF;
@text-color: #3197EE;
@red: #C3063F;
@pink: #FF5676;
@green: #62C4B8;
@light-green: #3ce7af;
@white: #FFF;
@grey: #F7F7F7;
@light-grey: #BCBCBC;
@lighter-grey: #EBEBEB;
@shadow-black: #151515;
@black: #161419;
@lightest-grey: #FBFBFB;
@light-blue: #009f9f;
@grey-projects: #919191;


// @import (css) url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: 'Abril Fatface';
  src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
       url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }

@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.woff2') format('woff2'),
  url('../fonts/Lato-Black.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

*:focus {
  outline: none !important;
}
